
    @import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');

    .formbody {
      width: 650px;
      margin: 50px auto;
      padding: 20px;
      background-color: rgb(222, 243, 174);
      box-shadow: 3px 2px 5px 2px #1c2306;
      border-radius: 10px;
    }

    img {
      height: 120px;
      padding: 20px;
    }

    .profile-photo {
      text-align: center;
    }

    .form-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      font-family: "Baloo 2", sans-serif;
    }

    .User-input {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .form-group select,
    .form-group input {
      padding: 12px 10px;
      background-color: #fff;
      border-radius: 6px;
      border: 1px solid #ccc;
      margin-bottom: 12px;
      font-family: "Baloo 2", sans-serif;
    }

    textarea {
      resize: none;
      padding: 12px 10px;
      background-color: rgb(239, 239, 239);
      border-radius: 5px;
      border: 1px solid #ccc;
    }

    .radio-group {
      display: flex;
      align-items: center;
    }

    .mrright15 {
      margin-right: 15px;
    }

    .submit {
      text-align: center;
    }

    .submit_btn {
      background-color: #4d86ef;
      color: white;
      border-radius: 5px;
      padding: 10px 20px;
      border: 0;
      font-size: 18px;
      font-weight: 600;
      font-family: "Baloo 2", sans-serif;
    }

    .password-container {
      position: relative;
    }

    .password_eye {
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
      cursor: pointer;
      color: gray;
    }

